---
import BaseLayout from '../layouts/BaseLayout.astro';
import Blogpost from '../components/Blogpost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle} >
    <p>Blog articles</p>
    <ul>
        {allPosts.map((post) => <Blogpost url={post.url} title={post.frontmatter.title}></Blogpost>)}
    </ul>
</BaseLayout>

